extends layout

block content
    h1 Security Relationships Demo

    p.
        This application is to start developing the complex relationships between different types of assests in an organization, whether they
        are human, physical or application. It's a way to view risk across multiple dimensions and try to define paterns from them.

    h2 Basic Functionality
    p.
        This app is a simple Security Role manager: it lets you add and remove
        users and "follows" relationships between them. It also lets you define machines and their connections. Eventually, we'll let you mix and match models, defining a series of unique relationships.

    h2 Get started:
    p
        strong
            a(href='/users') View all users
            a(href='/hosts') View all hosts

    h2 Graph Demo:
    p
        strong
            a(href='/graph') Visualization (work in progress)